<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a th:href="@{/items}">Items</a>
<form method="post" th:object="${newItem}" enctype="multipart/form-data">
    <h2>
        New Item:
    </h2>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" th:field="${newItem.title}" required/>
    </div>

    <div>
        <label for="description">Description:</label>
        <input id="description" type="text" th:field="${newItem.description}"/>
    </div>

    <div>
        <label for="price">Price:</label>
        <input id="price" type="text" th:field="${newItem.price}"/>
    </div>

    <div>
        <label>
            Images:
            <input id="image1" type="file" accept="image/png, image/jpeg" name="image1">
            <input id="image2" type="file" accept="image/png, image/jpeg" name="image2">
            <input id="image3" type="file" accept="image/png, image/jpeg" name="image3">
            <input id="image4" type="file" accept="image/png, image/jpeg" name="image4">
        </label>
    </div>

    <input type="submit" value="Send">
</form>
</body>
</html>